header {
    width: 100%;
    text-align: left;
    color: white;
    background-color: black;
    font-family: calibri;
    border: 3px solid black;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    font-family: calibri;
}
h1 {
    font-family: Benguiat;
    font-size: 20px;
    color: white;
}

button {
    background-color: rgba(0,0,0,0);
    color: orange;
}

body {
    background-image: url('../imagem/EggosSocial (1).png');
    background-repeat: no-repeat;
    background-size:100%;
    background-size: cover;
    height: 100%;
}
