.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
    color: white;
    text-align: center;
}
.loginBox a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.loginBox input[type=submit] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: black;
    cursor: pointer;
    border-radius: 20px;   
    width: 100%; 
}
.loginBox input[type=submit]:hover {
    background: rgba(0, 0, 0, .5);
}
body {
    margin: o;
    padding: 0;
    background: url(https://media.wired.com/photos/5926d03fcefba457b079b37c/master/pass/StrangerThingsTitleCard.jpg);
    background-size: cover;
}

button {
    background-color: rgba(0,0,0,.7);
    color: orange;
}

body {
    background-image: url('../../imagem/EggosSocial (1).png');
    background-repeat: no-repeat;
    background-size:100%;
    background-size: cover;
    height: 100%;
}
p{
    color: white;
}